body {
  background: #f2f2f2;
}

.audio {
  width: 350px;
  text-align: center;
  margin: 0 auto;
  padding: 0;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
  border-radius: 90px;
  transform: scale(1.06);
}

.audio button {
  width: 50px;
  color: #0d0d0d;
  background-color: #d9d9d9;
  border: none;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 90px;
  cursor: pointer;
}

.audio button:hover {
  background-color: #f8f9f9;
}

.audio button:active {
  border: 2px solid black;
}
